.light-mode {
  background-color: white;
  color: red;
}
.dark-mode {
  background-color: #265171;
  color: white;
}

.button-context {
  margin-left: 20%;
  color: white;
  background-color: #265171;
  border-radius: 2px;
  height: 1.5rem;
  display: flex;
}
