.footer-container {
  background-color: rgba(38, 81, 113);
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  color: white;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.utn:hover {
  color: rgb(176, 174, 174);
}

.facebook:hover {
  color: blue;
}

.instagram:hover {
  color: rgb(255, 0, 212);
}

.whatsapp:hover {
  color: green;
}