.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Establece el alto mínimo para ocupar toda la pantalla */
  position: relative;
}

.content {
  flex: 1; /* Hace que el contenido ocupe el espacio restante */
  padding-bottom: 100px; /* Asegura que haya suficiente espacio debajo del contenido principal */
}

.spacer {
  height: 20px; /* Ajusta la altura del separador según tus necesidades */
}
