* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  border-radius: 2px;
  color: white;
  background-color: #265171;
}
button:hover {
  background-color: #71aef0;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar a {
  margin-right: 50px;
}


.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

