/* adminPage.css */

/* Estilos para el contenedor principal */
.Container {
  display: flex;
  justify-content: center;
}

/* Estilos para el título principal */
h1 {
  text-align: center;
}

/* Estilos para los títulos de sección */
h2 {
  font-size: 1.5rem;
}

/* Estilos para la lista de usuarios registrados */
.List {
  list-style: none;
  padding: 0;
}

/* Estilos para los elementos de la lista de usuarios */
.ListItem {
  margin-bottom: 10px;
}

/* Estilos para los botones "Ver vacantes" */
.Button {
  font-size: 0.8rem;
}
